
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background: url('fondo-index.avif') no-repeat center center/cover; 
}


.contenedor {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 420px;
    border: 3px solid #007bff; 
}


h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 12px 0;
}

a {
    display: block;
    padding: 12px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}

a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
